*{
  /* margin:0 auto; */
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

body>div:first-child {
  width: 70%;
  background-color: #00000075;
  min-height: 100px;
  text-align: center;
  margin:5% auto 0;
  padding:5rem;
  border-radius: 0.625rem;
}

header > img {
  width: 30%;
}

header > h1{
  color:#00DD00;
  margin:0;
  font-family: 'Ubuntu Mono', monospace;
}

nav{
  padding:0.625rem;
  background-color: #00DD00;
  margin:0.25rem 0 1rem;
}

main>section{
  text-align: left;
  margin-bottom: 1rem;
}

section>p, section>h3{
  margin:0;
}

h3:before{
  content:"\25A0\a0";
}

section>p:first-of-type:before{
  content:"\21A6\a0";
}

.mediumCharge{
  background-color: goldenrod;
  min-height:1.5rem;
  width: 50%;
  border-radius: 0.325rem;
}

.highCharge{
  background-color: #00DD00;
  min-height:1.5rem;
  width: 75%;
  border-radius: 0.325rem;
}

.lowCharge{
  background-color: #ff4d4d;
  min-height:1.5rem;
  width: 25%;
  border-radius: 0.325rem;
}
